*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
body
{
    height: 100vh;
    width: 100vw;
    margin-top: 100px;


   
}

h1
{
    color:orange;
    gap: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

#container
{
   
    height: 100vh;
    width: 500px;
    background-color: bisque;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border:10px solid lightgreen;
    border-radius: 40px;
}
#title
{
    flex-grow: 1;
    

}
#list
{
    background-color: white;
    margin:auto;
    color: black;
    height:auto ;
    width: 400px;
    outline: rebeccapurple;
    flex-grow: 4;
    border-style: double;
    font-style: italic;
     cursor: pointer;
     
}

button

{
    border-radius: 40%;
    width: 100px;
    height: 40px;
    margin-left: 40%;
    gap: 50px;

}
button:active
{
    transform: scale(0.85);
}
